@font-face {
  font-family: RadioRanch;
  src: url(/static/RadioRanchNF.ttf);
}

.messages {
  height: 500px;
  display: flex;
  font-size: 1.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex-direction: column-reverse;
}
.messages::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scrollable-element {
  scrollbar-color: red yellow;
}

.scrollable-element {
  scrollbar-color: red yellow;
}

.login-banner {
  font-size: 3.0rem !important;
}
.login-logo-banner {
  font-family: RadioRanch !important;
  font-weight: normal;
  font-size: 3.0rem !important;
}

.navbar-dark .navbar-brand {
  font-family: RadioRanch !important;
  font-size: 3.0rem !important;
  margin-top: -.5rem;
  margin-bottom: -.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.navbar { 
  padding-top:0.1rem;
  padding-bottom:0.1rem; 
}

.alg-hidden {
  display:none;
}

.msg-inline-img {
  height: 200px;
  width: auto;
}

body {
  overflow-y: hidden;
  padding-top: 4.2rem;
}

.image-border {
  width: 300px;
  height: 200px;
  background-color: coral;
}

.portrait {
  max-height: 80px;
  min-width:  35px;
  min-height: 35px;
}
.status-margin {
  margin-top:50px;
}

.default-bubble {
  display: inline-block;
  padding-top: 0.17em;
  padding-bottom: 0.19em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  border-radius: 0.6rem;
  border: 3px solid #dee2e6; 
  background-color: #aaa099; 
  color: black; min-width:40px; 
  font-size: .75em;

}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 1px;
  right: auto;
  top: auto;
	top: 13px;
	border: 8px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 8px;
  right: auto;
  top: auto;
	top: 16px;
	border: 8px solid;
	border-color: #aaa099 #aaa099 transparent transparent;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 2px;
	top: 13px;
	border: 8px solid;
	border-color: lightyellow transparent transparent lightyellow ;
}

.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 8.5px;
	top: 16px;
	border: 6px solid;
	border-color: #aaa099 transparent transparent #aaa099;
}
