<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/algonquin.css">
    <link rel="stylesheet" href="/static/datatables.min.css">
    <link id="favicon" rel="icon" href="/static/favicon.svg" color="red">

    <title>{{ config.site_name }}</title>
  </head>

  <body ondrop="drop_handler(event)" 
        ondragover="dragover_handler(event)"
        style="overflow-y: auto;" >
    <script>
      var __protocol__ = {{ config.protocol }};
      var __chunk_size__ = {{ config.chunk_size }};
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none fixed-top" id="navbar">
      <a class="navbar-brand" href="#">
        <span><canvas id="lissajous" width=30 height=30></canvas></span>
        Algonquin
      </a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navb" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto" style="padding-top:1.2rem">
          <li class="nav-item dropdown active" id="messages-nav">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="messages_label">messages</a>
            <div class="dropdown-menu" aria-labelledby="room_list" id="room_list">
            </div>
          </li>
          <li class="d-none nav-item" id="messages-deselected-nav">
            <a class="nav-link" 
               onclick="tabs.show('messages');"
               id="messages_off_label">
              messages
            </a>
          </li>
          <li class="nav-item" id="people-nav">
            <a class="nav-link" onclick="tabs.show('people');">people</a>
          </li>
          <li class="nav-item" id="files-nav">
            <a class="nav-link" onclick="tabs.show('files');">files</a>
          </li>
          <li class="nav-item" id="cards-nav">
            <a class="nav-link" onclick="tabs.show('cards');">cards</a>
          </li>
          <li class="nav-item" id="search-nav">
            <a class="nav-link" onclick="tabs.show('search');">search</a>
          </li>
          <li class="nav-item" id="about-nav">
            <a class="nav-link" onclick="tabs.show('about');">about</a>
          </li>
          <li class="nav-item" id="settings-nav">
            <a class="nav-link" onclick="tabs.show('settings');">settings</a>
          </li>
          <li class="nav-item" id="invite-nav">
            <a class="nav-link" onclick="tabs.show('invite');">invite</a>
          </li>
        </ul>
        <form class="form-inline mr-3" autocomplete="off" onsubmit="return false;">
          <div class="input-group">
            <div class="input-group-prepend mr-2">
              <button onclick="search.send_query($('#search-query').val());" 
                      type="button" id="send-query" 
                      class="btn btn-info btn-sm" disabled>
                Search
              </button>
            </div>
            <input type="text" class="form-control" 
                   name="search-query" id="search-query" required />
          </div>
        </form>
        <button type="button" class="btn btn-primary btn-sm p-0" style="border-width:2px;" onclick="tabs.show('settings');"><img height="34px;" width="" id="you-image" src="/portraits/default.png"/></button>
      </div>
    </nav>

    <div id="footer" class="navbar navbar-dark bg-dark fixed-bottom d-none">
      <form class="form-inline my-1" id="write_message">
        <textarea style="resize:none;" class="form-control mb-1" 
                  name="new-message" id="new-message" 
                  oninput="lissajous.dec();"
                  cols="60" rows="1"></textarea>
        <button class="btn btn-success btn-sm ml-2" 
                onclick="send_message();" 
                id="send-message" type="button">
          <span>Send</span>
        </button>
        <input type="file" style="display: none" id="footer-upload-file" multiple />
        <button class="btn btn-light btn-sm ml-2" id="message-expand-button" 
                type="button" onclick="messages.resize_input();">
        </button>
        <button class="btn btn-light btn-sm ml-2" id="message-new-card-button" 
                type="button" onclick="cards.new();">
        </button>
        <button class="btn btn-warning btn-sm ml-2" 
                type="button" id="footer-new-file">
        <button class="btn btn-danger btn-sm ml-2" 
                onclick="send_bell_room();" 
                id="ring-bell" type="button">
      </form>
    </div>

    <div id="new-user" class="modal" data-keyboard="false" 
         data-backdrop="static" tabindex="-1">
      <div class="modal-dialog modal-light">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Welcome!</h5>
          </div>
          <div class="modal-body">
            <div class="login-banner">
              {{ config.site_name }}
            </div>
            <p>
              {{ config.site_name }} is a <i>small scale</i> and <i>personal</i> chat service for me and my friends.
            </p>
            <p>
              Welcome Friend.
            </p>
            <p>
              Your account is already set up, just enter a password below to get started.
            </p>
            <form "form-inline" onsubmit="return false;">
              <div class="form-group">
                <label for="new-password">Password:</label>
                <input type="password" class="form-control" name="new-user-password" id="new-user-password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <label for="new-password">Confirm Password:</label>
                <input type="password" class="form-control" name="new-user-password2" id="new-user-password2" placeholder="Password" required>
              </div>
              <div class="pb-2">
                <button id="new-user-ok" type="button" class="btn btn-success btn-sm" disabled>Ok</button>
              </div>
            </form>
            <div class="modal-footer">
              <div class="float-right"> 
                <span class="badge badge-secondary badge-dark">
                  <div class="float-right">Brought to you by:</div>
                  <div class="login-logo-banner"><a href="https://www.github.com/Dav3xor/algonquin">Algonquin</a></div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="display-card" class="modal  modal-lg"
         data-keyboard="false" data-backdrop="static" tabindex="-1">
      <div class="modal-body">
        <div id="display-card-body"></div>
      </div>
    </div>

    <div id="edit-card" class="modal modal-lg" 
         data-keyboard="false" data-backdrop="static" tabindex="-1">
      <div class="modal-dialog modal-light">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Card:</h5>
          </div>
          <div class="modal-body">
            <form "form-inline" onsubmit="return false;">
              <div class="form-group">
                <label for="card-title">Title:</label>
                <input type="text" class="form-control" name="card-title" 
                       oninput="cards.allow_submission();"
                       placeholder="Contents" id="card-title" required>
              </div>
              <div class="form-group">
                <label for="card-content">Contents:</label>
                <textarea class="form-control" name="card-content" 
                          id="card-content" cols=60 rows="5"
                          oninput="cards.allow_submission();"
                          required></textarea>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" 
                       value="" id="card-private" 
                       onclick="$('#card-rooms').prop('disabled', function(i,v) { return !v; });">
                <label class="form-check-label" for="card-private">
                  Private to room:
                </label>
                <select id="card-rooms" name="rooms" disabled>
                </select>

              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="card-locked">
                  <label class="form-check-label" for="card-locked">
                    Allow Others to Edit
                  </label>
              </div>
              <div class="pb-2">
                <button id="do-edit-card" onclick="cards.send_card();" 
                        type="button" class="btn btn-success btn-sm" disabled>
                  Add Card
                </button>
                <button id="do-hide-card" onclick="cards.hide_editor();" 
                        type="button" class="btn btn-success btn-sm">
                  Hide
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="login" class="modal" data-keyboard="false" 
         data-backdrop="static" tabindex="-1">
      <div class="modal-dialog modal-light">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login</h5>
          </div>
          <div class="modal-body">
            <div class="login-banner">
              {{ config.site_name }}
            </div>
            <form "form-inline" onsubmit="return false;">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" name="email" 
                       placeholder="Email" id="email" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" 
                       name="password" id="password" 
                       placeholder="Password" required>
              </div>
              <div class="pb-2">
                <button id="do-login" onclick="send_login_email();" 
                        type="button" class="btn btn-success btn-sm">
                  Login
                </button>
              </div>
            </form>
            <div class="alert alert-danger d-none" id="login-result-status">
              Login Failed
            </div>
            <div class="modal-footer">
              <div class="float-right"> 
                <span class="badge badge-secondary badge-dark">
                  <div class="float-right">Brought to you by:</div>
                  <div class="login-logo-banner"><a href="https://www.github.com/Dav3xor/algonquin">Algonquin</a></div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div id="contents">
      <div onclick="$('#new-message').focus()"
           class="messages container-fluid d-none" 
           id="messages">
      </div>

      <button onclick="$('#messages').scrollTop(0);"
              type="button" id="goto-bottom" 
              class="btn btn-warning btn-sm d-none" 
              style="position:absolute; left: 10px; top: 70px;">
      </button>
      <span class="badge badge-info d-none" id="status-indicator"
            style="position:absolute; left: 80px; top: 70px;">
        Status Indicator
      </span> 
      </button>

      <div class="container-fluid d-none status-margin" id="people">
        <div class="table-responsive">
          <table id="people-list" class="table table-striped table-bordered compact" style="width:100%;">
            <thead>
              <th></th>
              <th>online</th>
              <th>name</th>
              <th>actions</th>
            </thead>
          </table>
        </div>
      </div>

      <div class="container-fluid d-none status-margin" id="files"
           ondrop="drop_handler(event)" 
           ondragover="dragover_handler(event)">
        <div class="row">
          <div class="col-sm-8">
            <div id="files-path" class="alert alert-secondary"></div>
          </div>
          <div class="col-sm-4">
            <div id="files-new-folder" class="alert alert-info p-2 m-0">
              <form class="form-inline" autocomplete="off" onsubmit="return false;">
                <div class="input-group">
                  <div class="input-group-prepend mr-2">
                    <button onclick="files.add_folder($('#folder-name').val());" 
                            type="button" id="folder-add" 
                            class="btn btn-success btn-sm">
                      Add Folder
                    </button>
                  </div>
                  <input type="text" class="form-control" 
                         name="folder-name" id="folder-name" required />
                </div>
              </form>
            </div>
          </div>
        </div>
        <table id="files-list" class="table table-striped table-bordered compact" style="width:100%;">
          <thead>
            <th></th>
            <th>filename</th>
            <th></th>
          </thead>
        </table>
      </div>

      <div class="cards container-fluid d-none status-margin" id="cards">
        <div class="row">
          <div class="col-sm-8">
            <div id="cards-path" class="alert alert-secondary"></div>
          </div>
          <div class="col-sm-4">
            <div id="cards-new-card" class="alert alert-info p-2 m-0">
              <form class="form-inline" autocomplete="off" onsubmit="return false;">
                <div class="input-group">
                  <div class="input-group-prepend mr-2">
                    To create a new card, press this button -->
                    <button onclick="cards.new();" 
                            type="button" id="card-add" 
                            class="btn btn-success btn-sm ml-2">
                      Add Card
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div id="cards-display">
        </div>
      </div>


      <div class="container-fluid d-none status-margin" id="search">
        <div class="table-responsive">
            <table id="search-list" class="table table-striped table-bordered compact" style="width:100%;">
              <thead>
                <th>type</th>
                <th>row</th>
                <th>result</th>
              </thead>
            </table>
        </div>
      </div>
      
      <div class="container-fluid d-none status-margin" id="about">
        <div class="row">
          <div class="col-sm-4">
            <h1>Algonquin Chat:</h1>
            <p>
              Algonquin is a chat communication system with wiki-like features, allowing 
              interconnection of user supplied content. It's designed to be user focused,
              in that it doesn't modify uploaded content, and is not supplied as a service,
              you need to run your own server/instance of the software.  
            </p>
            <p>
              A script for installing the software to Linode is provided, as is a script for
              converting a slack backup, if you wish to migrate from there.
            </p>
            <h1>License:</h1>
            <p>
              Algonquin is licensed free to use and modify for non-commercial (personal) purposes.  
              If you wish to use Algonquin with your for-profit business, please
              contact me for licensing terms. Power to the people, Solidarity.
            </p>
            <h1>Contact Information:</h1>
            <div>
              <address>
                <strong>Algonquin / David Case</strong><br>
                901 6th Street SW #312A<br>
                Washington, DC 20024<br>
                <abbr title="Phone">Phone:</abbr> (971) 400-3715
              </address>

              <address>
                <strong>David Case</strong><br>
                <a href="mailto:#">Dav3xor@gmail.com</a>
              </address> 
            </div>
            <div>Version: {{ config.version }}</div>
            <div>Protocol:{{ config.protocol }}</div>
          </div>
        </div>
      </div>

      <div class="container-fluid d-none status-margin" id="settings">
        <div class="row">
          <div class="col-sm-6">
            <form "form-inline" autocomplete="off" onsubmit="return false;">
              <div class="form-group">
                <label autocomplete="nope" for="settings-handle">Handle:</label>
                <input type="text" class="form-control" 
                       oninput="settings.allow_submission();"
                       name="settings-handle" id="settings-handle" required>
              </div>
              <div class="form-group">
                <label for="settings-email">Email:</label>
                <input autocomplete="nope" type="text" class="form-control" 
                       oninput="settings.allow_submission();"
                       name="settings-email" id="settings-email" required>
              </div>
              <div class="form-group">
                <label for="settings-password">Old Password:</label>
                <input autocomplete="new-password" type="password" class="form-control" 
                       oninput="settings.allow_submission();"
                       name="settings-old-password" id="settings-old-password" required>
              </div>
              <div class="form-group">
                <label for="settings-password">New Password:</label>
                <input autocomplete="new-password" type="password" class="form-control" 
                       oninput="settings.allow_submission();"
                       name="settings-new-password" id="settings-new-password" required>
              </div>
              <div class="form-group">
                <label for="settings-about">About You:</label>
                <textarea class="form-control" name="settings-about" id="settings-about" cols=60 rows="5"
                       oninput="settings.allow_submission();"
                       required></textarea>
              </div>
              <button onclick="settings.send_settings();" 
                      type="button" id="change-settings" 
                      class="btn btn-success btn-lg" disabled>
                Change Settings
              </button>
            </form>
          </div>
          <div class="col-sm-6">
            <div class="alert alert-info mt-3">
              <p>log off from this session:</p>
              <form class="form-inline" id="logout">
                <button class="btn btn-warning btn-sm" 
                        onclick="send_logout();" type="button">
                  Logout
                </button>
              </form>
            </div>
            <div class="alert alert-secondary mt-3">
              <form "form-inline" id="portrait-form" name="portrait-form" autocomplete="off" onsubmit="return false;">
                <div class="form-group">
                  <h3>Portrait:</h3>
                  <img width="100%" id="portrait-image" src="/portraits/default.png"/>
                </div>

                <div class="form-group">
                  <input type="file" style="display: none" id="portrait-upload-file" />
                  <button class="btn btn-warning btn-sm ml-2" 
                          type="button" id="portrait-new-file">
                    Select new Portrait...
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="row d-none" id="settings-result">
          <div class="col-4"><h1>Settings Result:</h1></div>
          <div class="col-6">
            <div class="alert alert-danger" id="settings-result-status">
              User Created Successfully
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid d-none status-margin" id="invite">
        <form "form-inline" autocomplete="off" onsubmit="return false;">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="invite-message">Message:</label>
                <textarea class="form-control" name="invite-message" id="invite-message" rows="20"></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="invite-email">New User Email:</label>
                <input autocomplete="nope" type="text" class="form-control" 
                       oninput="invite.allow_submission();"
                       name="invite-email" id="invite-email" required>
              </div>
              <div class="form-group">
                <label for="invite-handle">New User Handle:</label>
                <input type="text" class="form-control" 
                       oninput="invite.allow_submission();"
                       name="invite-handle" id="invite-handle" required>
              </div>
              <div class="form-group">
                <label for="password">New User Password:</label>
                <input autocomplete="new-password" type="password" 
                       oninput="invite.allow_submission();"
                       class="form-control" name="invite-password" id="invite-password">
                <div><b>Note:</b> You can leave the password blank, and the user can enter it in later.</div>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="invite-send-email">
                <label class="form-check-label" for="send-email">Send Email Invite</label>
              </div>
              <div class="pb-2">
                <button onclick="invite.create_user();" 
                        type="button" id="add-user" 
                        class="btn btn-success btn-lg" disabled>
                  Add User
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="container-fluid d-none" id="invite-result">
          <div class="row">
            <div class="col-4"><h1>Invite Result:</h1></div>
            <div class="col-6"><div class="alert alert-danger" id="invite-result-status">User Created Successfully</div></div>
          </div>
          <div class="row " id="invite-result-message">
            <div class="col-2">
              Message:
            </div>
            <div class="col-7">
              <div class="alert alert-dark" 
                   role="alert" 
                   id="invite-result-message-text">
                message text
              </div>
            </div>
          </div>
          <div class="row " id="invite-result-url">
            <div class="col-2">
              Bare Url:
            </div>
            <div class="col-7">
              <div class="alert alert-dark" 
                   role="alert" 
                   id="invite-result-url-text">
                url text
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js" 
            integrity="sha512-L9L4VhE0D58fCxtJiYDHbIzSVfNGY24rhQPWTZPschTVKLpucPsLeT0FSjfnylLYARalTQqgwXsjjhi+wUTwIw==" 
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" 
            crossorigin="anonymous"></script>
    <script src="/static/showdown.js"></script>
    <script src="/static/algonquin.js"></script>
    <script src="/static/datatables.min.js"></script>
  </body>
</html>

